@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/*
fon-family: 'THE오키도키t';
font-family:'DX뮤지컬 L';
font-family:'LAB라인워크';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
font-family:  'Bad Script', cursive;
*/
.main *, #cart_title * {
    font-family: 'THE오키도키' !important;
}
#cart_ h1{
    text-align: center;
    font-family: 'Bad Script', cursive;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
hr{
    margin-top: 15px;
    border-bottom: 3px solid #000;
}
#tr{
    border-bottom:  2px solid rgb(219, 219, 219);
}
#main{
    border: 1px solid red;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#main1{
    margin-left: 290px;
    
    
    width: 900px;
    height: 700px;
    float: left;
}
#main2{
    width: 400px ;
    height: 700px;
    float: right;
    margin-right: 290px;
}

.cbox{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.main1{
    width: 50px;
    height: 60px;
    text-align: center;
    padding-left: 15px;
    
    
}
.main2{
    width: 280px;
    height: 20px;
    
    text-align: center;
}
.main3{
    width: 100px;
    height: 60px;
    /*border: 1px solid blue;*/
    text-align: center;
}
.main4{
    width: 150px;
    height: 60px;
    
    text-align: center;
}
.main5{
    width: 160px;
    height: 60px;
    
    text-align: center;
}
.main6{
    width: 160px;
    height: 60px;
    
    text-align: center;
}
.main7{
    width: 100px;
    height: 60px;
    
    text-align: center;
}
#hr{
    margin-top: 50px;
   
    border-bottom: 3px solid #000;
    
}
#sub{
    padding: 20px 20px 20px 20px;
    background-color:#f2f2f2;
    height: 620px;
    width: 100%;
    border: 1px solid #f2f2f2;
}
#p_head{
    font-style: 40px;
    font-weight: bold;
}
#btn1{
    width: 200px;
    height: 50px;
    background-color: #000;
    color: white;
    margin-left: 80px;
    margin-bottom: 10px;
}
#btn2{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #000;
    margin-left: 80px;
}
#cart_ img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}