<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/static/js/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    
    <style>
        * {
            color: white;
        }
        #footer {
            background-color: #212121;
            vertical-align: middle;
        }
    </style>
    <title>Sentir L'odeur</title>
</head>

<body>
    <div class="container-fluid">
        <div id="footer" class="row">
            <div class="col-6">
                <dl>
                    <dt>2조 창작사이트</dt>
                    <dd>팀명 : 무한루프 | 대표자명 : 김정훈</dd>
                    <dd>주소 : 경기도 수원시 팔달구 덕영대로 905 아이메카빌딩 11층 1103호</dd>
                    <hr>
                    <dd>COPYRIGHT ⓒ 2021 'for( ; ; )' ALL RIGHT RESERVED.</dd>
                </dl>
            </div>
            <div class="col-1">
                <dl>
                    <dd>Man Perfume</dd>
                    <dd>Woman Perfume</dd>
                    <dd>Review Board</dd>
                    <dd>Event Board</dd>
                </dl>
            </div>
            <div class="col-1">
                <dl>
                    <dd>Login</dd>
                    <dd>My Page</dd>
                    <dd>Cart</dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>Members</dt>
                    <dd>김정훈</dd>
                    <dd>송택민</dd>
                    <dd>김희정</dd>
                    <dd>박영서</dd>
                    <dd>김상일</dd>
                </dl>
            </div>
        </div>
    </div>
</body>

</html>